<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel="false" name="PicMeAutomationWeb All Suites Result:">
   <suite-files>
       <suite-file path="./src/main/resources/XMLFiles/LoginXML/Login.xml" /> 
	   <!--<suite-file path="./src/main/resources/XMLFiles/SignupXML/Signup.xml" /> 
	   <suite-file path="./src/main/resources/XMLFiles/CollectionXML/Collection.xml" /> -->
   </suite-files>
</suite>